%%-*- mode: erlang -*-
%% ex: ft=erlang
{recursive_cmds, [clean,eunit]}.
{deps, [
    {jsx,       "2.4.0",    {git, "https://github.com/k2informatics/jsx.git",       {tag, "v2.4.0"}}}
]}.

{dialyzer_base_plt_apps, [kernel, stdlib, erts, sasl, eunit, syntax_tools, compiler, crypto]}.

{xref_checks, [undefined_function_calls]}.

{cover_enabled, true}.
